body {
    text-align: center;
    font-family: Sans;
    background-color: slategrey;
}

#wrapper {
    text-align: left;
    display: inline-block;
    max-width: 75%;
    background-color: white;
    padding: 0em 1em;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.box {
    float: left;
    padding: 2em;
}

textarea {
    width: 100%;
}
